
.search-data-back{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}


@media (max-width:1440px){
  .search-data-back{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width:1024px){
  .search-data-back{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:600px){
  .search-data-back{
    grid-template-columns: repeat(2, 1fr);
  }
}

